@using BlazorServerConduit.Store.Articles.Actions;
@using Fluxor;
@inherits MyComponentBase

<button class="btn btn-sm action-btn @_classes @(Author.Following ? "btn-secondary": "btn-outline-secondary") @(_isSubmitting ? "disabled":"")" @attributes=_attributes @onclick="OnSubmit">
    <i class="ion-plus-round"></i>
    &nbsp; @(Author.Following ? "Unfollow" : "Follow") @Author.UserName
</button>

@code {
    private bool _isSubmitting = false;

    [Parameter, EditorRequired]
    public Profile Author { get; set; }

    [Inject]
    public IDispatcher Dispatcher { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        _isSubmitting = false;
    }

    private void OnSubmit()
    {
        _isSubmitting = true;
        if (Author.Following)
        {
            Dispatcher.Dispatch(new UnfollowAuthorAction(Author.UserName));
        }
        else
        {
            Dispatcher.Dispatch(new FollowAuthorAction(Author.UserName));
        }
    }
}
