@inject Microsoft.AspNetCore.Http.IHttpContextAccessor Accessor

<div>
    <nav class="navbar navbar-light">
        <div class="container">
            <a class="navbar-brand" href="index.html">conduit</a>
            <ul class="nav navbar-nav pull-xs-right">
                <li class="nav-item">
                    <a class="nav-link" href="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(Accessor.HttpContext.Request.Path.Value == "/Identity/Account/Login" ? "active" : "" )" href="Identity/Account/Login">Sign in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Sign up</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
