@using BlazorServerConduit.Services;

<div class="article-preview">
    <div class="article-meta">
        <ArticleAuthor Article="Article"></ArticleAuthor>
        <FavoriteButton Article="Article" class="pull-xs-right"></FavoriteButton>
    </div>
    <a href="/article/@Article.Slug" class="preview-link">
        <h1>@Article.Title</h1>
        <p>@Article.Description</p>
        <span>Read more...</span>
        <ArticleTags Tags="Article.TagList"/>
    </a>
</div>

@code {
    [Parameter]
    public Article Article { get; set; } = default!;
}
