@page "/"
@using BlazorServerConduit.Store.Articles;
@using BlazorServerConduit.Store.Articles.Actions;
@using Fluxor;

@inherits MyComponentBase

<PageTitle>Home</PageTitle>

<div class="home-page">
    <div class="banner">
        <div class="container">
            <h1 class="logo-font">conduit</h1>
            <p>A place to share your knowledge.</p>
        </div>
    </div>

    <div class="container page">
        <div class="row">
            <div class="col-md-9">
                <FeedToggle Filter="_filter" OnFilterChanged="(newFilter) => OnFilterChanged(newFilter)" />

                @if (ArticleState?.Value is not null &&
                    !ArticleState.Value.IsLoadingArticles)
                {
                    foreach (var article in ArticleState?.Value.Articles)
                    {
                        <ArticleComponent @key=article Article="article" ></ArticleComponent>
                    }
                }
                else
                {
                    <div class="article-preview">
                        Loading articles...
                    </div>
                }
            </div>

            <div class="col-md-3">
                <div class="sidebar">
                    <PopularTags OnTagSelected="OnPopularTagSelected"/>
                </div>
            </div>
        </div>
    </div>
</div>

@code
{
    private ArticleFilter _filter = new ArticleFilter();

    [Inject]
    public IDispatcher Dispatcher { get; set; }

    [Inject]
    private IState<ArticleState> ArticleState { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Dispatcher.Dispatch(new FetchArticlesAction(_filter));
    }

    private void OnPopularTagSelected(string tag)
    {
        _filter = _filter with { Tag = tag, FeedType = FeedType.Tag };
        Dispatcher.Dispatch(new FetchArticlesAction(_filter));
    }
    
    private void OnFilterChanged(ArticleFilter newFilter)
    {
        _filter = newFilter;
        Dispatcher.Dispatch(new FetchArticlesAction(_filter));
    }
}